<plugin name='i18n-fields' version='0.4' grailsVersion='1.3 &gt; *'>
  <author>Jorge Uriarte, Taioli Fabiano</author>
  <authorEmail>jorge.uriarte@omelas.net, fbn@maniacmansion.it</authorEmail>
  <title>i18n Fields</title>
  <description>\
This plugin provide an easy way of declarativily localize database fields of your content tables.
</description>
  <documentation>http://grails.org/plugin/i18n-fields</documentation>
  <resources>
    <resource>BootStrap</resource>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>i18nfields.tests.TestDomain</resource>
    <resource>i18nfields.I18nTestService</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>